<!-- COURSE RESULTS DISPLAYED AS TABLE -->
<!-- This is the file that constructs the course results -->


<% if !in_mobile_view? && !session[:mobile_view] %>
    <%= submit_tag "Add to Cart", name: nil, :class => 'add_to_cart_button' %>
<% end %>
<div id="results_contents">
    <table id="headers">

	<!-- TABLE HEADERS -->
	<tr>
	    <th class="chkbox optional"></th>
	    <th class="crn optional">CRN</th>
	    <th class="dept">Dept</th>
	    <th class="cnum">No.</th>
	    <th class="cname">Course Name</th>
	    <th class="profes">Instructor</th>
	    <th class="days_off optional">Days</th>
	    <th class="time optional">Time</th>
	    <th class="enroll optional">Curr<br>Enroll</th>
	    <th class="profic optional">Profic.</th>
	</tr>

	<!-- If this is a mobile device, we want the headers and the info in the same table -->
	<% if !in_mobile_view? && !session[:mobile_view]%>
	</table>
    <% end %>
    <!-- SEARCH RESULTS start here -->
    <div id="results_scroller">
	<table class="results">
	    <!-- ALTERNATE CLASSES FOR COURSE ROWS -->
	    <!-- Alternates coloration of results, by means of a counter -->
	    <% counter = 0 %>
	    <% color = "even course_entry" %>

	    <% courses.each do |c| %>
		<% if counter % 2 == 0 %>
		    <% if c.descrip.include?("This course conflicts") %>
			<% color = "evenconflict course_entry" %>
		    <% else %>
			<% color = "even course_entry" %>
		    <% end %>
		    <% if c.descrip.include?("This course is already in your cart") %>
			<% color << ' evenincart' %>
		    <% end %>
		<% else %>
		    <% if c.descrip.include?("This course conflicts") %>
			<% color = "oddconflict course_entry" %>
		    <% else %>
			<% color = "odd course_entry" %>
		    <% end %>
		    <% if c.descrip.include?("This course is already in your cart") %>
			<% color << ' oddincart' %>
		    <% end %>
		<% end %>

		<% unless c.enroll.nil? || c.csize.nil? || c.csize == 0 %>
		    <% if ((1.0*c.enroll)/c.csize) > 0.8 %>
			<% color << ' full' %>
		    <% end %>
		<% end %>

		<!-- row that displays course information -->
		<tr <%= "class='#{color}' id=no_#{counter}" %>>
		    <td class="chkbox optional">
			<%= check_box_tag "courses[#{c.semcrn}]",c.semcrn %>
		    </td>
		    <td class="crn optional"><%= c.crn %></td>
		    <td class="dept"><%= c.dept %></td>
		    <td class="cnum"><%= c.cnum %></td>
		    <td class="cname"><%= c.short_title %></td>
		    <td class="profes">
			<% if c.professors.size > 0 %>
			    <% c.professors.each do |professor| %>
				<%= "#{professor.fname} #{professor.lname}" %>
				<% unless c.professors.last == professor %>
				    <br>
				<% end %>	
			    <% end %>
			<% else %>
			    <%= c.professor %>
			<% end %>
		    </td>
		    <% if c.status == "cancelled" %>
			<td colspan="3" class="cancel_message">Cancelled</td>
		    <% else %>
			<td class="days_off optional"><%= c.days %></td>
			<!-- Displays TIME FIELDs, in 12-hour format -->
			<!--  - database stores in 24-hour format, with seconds -->
			<td class="time optional">
			    <% if c.start_time != nil %>
				<%= c.start_time.strftime("%I:%M %p") %>
			    <% end %>
			    <% if c.end_time != nil %>
				<br>
				<%= c.end_time.strftime("%I:%M %p") %>
			    <% end %>
			</td>
			<td class="enroll optional">
			    <span class="cur_enroll"><%= c.enroll %></span>
			    <span class="max_enroll"><%= c.csize %></span>
			</td>
		    <% end %>
		    <td class="profic optional">
			<% if c.proficiencies.blank? %>
			    <%= image_tag("none.png", alt: "None", class: "none prof_png") %>
			<% else %>
			    <% if c.proficiencies.include? 'CD' %>
				<% if c.proficiencies.include? 'WR' %>
				    <% if c.proficiencies.include? 'QP-H' %>
					<%= image_tag("CD-QPH-WR.png", alt: "CD-QPH-WR", title: "CD-QPH-WR", class: "prof_png") %>
				    <% elsif c.proficiencies.include? 'QP-F' %>
					<%= image_tag("CD-QPF-WR.png", alt: "CD-QPF-WR", title: "CD-QPF-WR", class: "prof_png") %>
				    <% else %>
					<%= image_tag("CD-WR.png", alt: "CD-WR", title: "CD-WR", class: "prof_png") %>
				    <% end %>
				<% else %>
				    <% if c.proficiencies.include? 'QP-H' %>
					<%= image_tag("CD-QPH.png", alt: "CD-QPH", title: "CD-QPH", class: "prof_png") %>
				    <% elsif c.proficiencies.include? 'QP-F' %>
					<%= image_tag("CD-QPF.png", alt: "CD-QPF", title: "CD-QPF", class: "prof_png") %>
				    <% else %>
					<%= image_tag("CD.png", alt: "CD", title: "CD", class: "prof_png") %>
				    <% end %>
				<% end %>
			    <% else %>
				<% if c.proficiencies.include? 'WR' %>
				    <% if c.proficiencies.include? 'QP-H' %>
					<%= image_tag("QPH-WR.png", alt: "QPH-WR", title: "QPH-WR", class: "prof_png") %>
				    <% elsif c.proficiencies.include? 'QP-F' %>
					<%= image_tag("QPF-WR.png", alt: "QPF-WR", title: "QPF-WR", class: "prof_png") %>
				    <% else %>
					<%= image_tag("WR.png", alt: "WR", title: "WR", class: "prof_png") %>
				    <% end %>
				<% else %>
				    <% if c.proficiencies.include? 'QP-H' %>
					<%= image_tag("QPH.png", alt: "QPH", title: "QPH", class: "prof_png") %>
				    <% elsif c.proficiencies.include? 'QP-F' %>
					<%= image_tag("QPF.png", alt: "QPF", title: "QPF", class: "prof_png") %>
				    <% else %>
					<%= image_tag("none.png", alt: "None", title: "None", class: "prof_png") %>
				    <% end %>
				<% end %>
			    <% end %>
			<% end %>
		    </td>
		</tr>
		<!-- Expanding DESCRIPTION field -->
		<tr class="descrip" <%= "id=desc_#{counter}" %>>
		    <td colspan="10">

			<div class="desc_spec">
			    <span class="course_id_title"><%= link_to "#{c.dept} #{c.cnum}: #{c.title}", hubcourse_path(c.hubcourse_id) %></span>
			    <% if !in_mobile_view? && !session[:mobile_view]%>
				<span class="section">Section <%= c.section %> - <%= c.format %></span>
				<span class="semester"><%= translate_semester(c.semester) %>&nbsp;&nbsp;-&nbsp;&nbsp; </span> 
			    <% else %>
				<span class="crn">CRN: <%= c.crn %></span>
			    <% end %>
			</div>

			<div class="desc_spec">
			    <span class="department"><%= link_to c.dept_long, department_path(c.hubcourse.department_id) %></span>
			    <span class="professors">Professors: 
				<% if c.professors.size > 0 %>
				    <% c.professors.each do |professor| %>
					<% unless c.professors.last == professor %>
					    <%= link_to "#{professor.fname} #{professor.lname},", show_professor_path(professor.id) %>
					<% else %>
					    <%= link_to "#{professor.fname} #{professor.lname}", show_professor_path(professor.id) %>
					<% end %>
				    <% end %>
				<% else %>
				    <%= c.professor %>
				<% end %>
			    </span>
			</div>

			<div class="desc_spec course_description">
			    <span class="course_description"><%= c.descrip.html_safe %></span>
			</div>

			<% unless c.prereqs.blank? %>
			    <div class="desc_spec">
				<span class="course_notes"><strong>Notes:</strong> <%= c.prereqs %></span>
			    </div>
			<% end %>

			<div class="desc_spec">
			    <span class="enrollment"><% if c.enroll %><span class="enrollment_cur">Current Enrollment: <%= c.enroll %></span><% end %><% if c.csize %><span class="enrollment_max">Max Enrollment: <%= c.csize %></span><% end %></span>
			    <% unless c.building.blank? && c.room.blank? %>
				<span class="location">Room: <%= "#{c.building}  #{c.room}" %></span>
			    <% end %>
			    <span class="module">Module: <%= c.get_module %></span>
			    <span class="credits">
				<% if c.crmax != c.crmin %>
				    Credits Range: <%= c.crmin %> - <%= c.crmax %>
				<% else %>
				    Credits: <%= c.crmax %>
				<% end %>
				<% unless c.distributions.blank? %>
				    (<%= c.distributions %>)
				<% end %>
			    </span>
			    <% unless c.proficiencies.blank? %>
				<span class="proficiencies">Proficiencies: <%= c.proficiencies %></span>
			    <% end %>
			    <span class="grading">
				<% if c.p_np %>
				    Grading: 
				    <% if c.std_letter %>
					Pass/No Pass Available
				    <% else %>
					Pass/No Pass Only
				    <% end %>
				<% end %>
			    </span>
			</div>
			<div class="desc_spec consent">
			    <% if c.instruct_consent %>
				<span class="instructor_consent">
				    Consent of the instructor required
				</span>
			    <% end %>
			    <% if c.dean_consent %>
				<span class="dean_consent">
				    Consent of the Dean required
				</span>
			    <% end %>
			</div>
			<div class="desc_spec crosslist">
			    <% unless c.xlist1.blank? %>
				<span class="crosslist">Cross list 1: <%= link_to c.xlist1, hubcourse_path(Hubcourse.find_by_hub_id(c.xlist1).id) %></span>
			    <% end %>
			    <% unless c.xlist2.blank? %>
				<span class="crosslist">Cross list 2: <%= link_to c.xlist2, hubcourse_path(Hubcourse.find_by_hub_id(c.xlist2).id) %></span>
			    <% end %>
			    <% unless c.xlist3.blank? %>
				<span class="crosslist">Cross list 3: <%= link_to c.xlist3, hubcourse_path(Hubcourse.find_by_hub_id(c.xlist3).id) %></span>
			    <% end %>
			</div>
			<div class="desc_spec">
			</div>
		    </td>
		</tr>
		<!-- after each result, counter increments -->
		<% counter += 1 %>
	    <% end %>
	</table>
    </div> <!--results scroller-->
</div> <!--results container -->
<% if !in_mobile_view? && !session[:mobile_view] %>
    <%= submit_tag "Add to Cart", name: nil, :class => 'add_to_cart_button' %>
<% end %>

