<%= provide(:title, 'Search') %>
<% @load_cart = true %>
<!-- MESSAGE OF THE DAY -->
    <% if cookies[:motd].nil? || motd_cookie_expired? %>
      <div id="motd_container">
	<div id="motd_bar">
	  <span>Message of the Day</span>
	  <%= link_to "[close]", hide_motd_sessions_path, remote: true %>
	</div>
	<div class="motd">
	  <%= motd.value.html_safe %>
	</div>
      </div>
    <% end %>
<!-- COURSE SEARCH FORM (fields listed below) -->
<%= form_tag course_search_path, :method => 'get', id: "sf", :remote => true, "name" => "sf", class: "search_form" do %>
  <div id="search_wrapper">
    <!-- SEARCH HELP BOX -->
    <div id="hide_search_box"> <!-- hide help, and remember state -->

      <!-- determines button display, by means of a cookie -->
      <% if cookies[:hide_search].nil? %>
	<%= link_to "Hide", click_hide_search_path, :class => "hide_search", :id => "hide_show_search", remote: true %>
      <% else %>
	<%= link_to "Show search help", click_hide_search_path, :class => "hide_search", :id => "hide_show_search", remote: true %>
      <% end %>

    </div>
    <!-- actual SEARCH HELP box -->
    <% if in_mobile_view? %>
      <div id="search_help" class = "mobile_search_help">
      <% else %>
	<div id="search_help" class="small start_hidden">
	<% end %>
	<p id="search_help_text">
	</p>
      </div>

      <!-- SEARCH FIELDS HERE -->
      <!-- Search Fields, above the ADVANCE divide -->
      <div id="search">
	<!-- cname -->
	<%= render 'courses/form_partials/name' %>
	<!-- professor -->
	<%= render 'courses/form_partials/professor' %>
	<!-- dept -->
	<%= render 'courses/form_partials/dept' %>
	<!-- semester -->
	<%= render 'courses/form_partials/semester' %>

	<!-- Begin ADVANCED SEARCH Fields -->
	<div id="adv_wrapper">
	  <div id="adv_search">
	    <!-- cd, wr, qp -->
	    <%= render 'courses/form_partials/proficiencies' %>
	    <!-- monday, tuesday, wednesday, thursday, friday, saturday, sunday -->
	    <%= render 'courses/form_partials/days' %>
	    <!-- mod1, mod2, full, special -->
	    <%= render 'courses/form_partials/modules' %>
	    <!-- ns, ss, hu -->
	    <%= render 'courses/form_partials/attributes' %>
	    <!-- max_credits, min_credits -->
	    <%= render 'courses/form_partials/credits' %>
	    <!-- crn -->
	    <%= render 'courses/form_partials/crn' %>
	    <!-- start_hour, start_minute, end_time, end_minute -->
	    <%= render 'courses/form_partials/time' %>
	    <!-- course_comparison, course_level -->
	    <%= render 'courses/form_partials/level' %>
	    <!-- last changed since -->
	    <%= render 'courses/form_partials/last_changed' %>
	  </div>
	</div>
	<!-- End ADVANCED SEARCH Fields -->
      </div>
      <!-- End SEARCH Fields -->

      <!-- More/Less Button -->
      <div id="adv_wrapper">
	<div id="adv_link_div"> 
	  <% if in_mobile_view? %>
	    <div id="adv_helper">
	      <div id="adv_button" data-role="button" data-icon="plus" data-inline="true" data-iconpos="notext">
	      </div>
	    </div>
	  <% else %>
	    <span id="adv_link">
	      more
	    </span>
	  <% end %>
	</div>
      </div>

      <!-- SUBMIT and RESET buttons -->
      <div class="submit">
	<% if current_cart %>
	  <div style="display: none;">
	    <%= text_field_tag :cart_id, params[:cart_id], value: current_cart.cartid %> 
	  </div>
	<% end %>
	<%= submit_tag "Search", :id => "course_search", :name => nil %>
	<% if in_mobile_view? %>
	  <input type="reset" value="Reset" id="course_reset" class="mobile_reset">
	<% else %>
	  <input type="reset" value="Reset" id="course_reset">
	<% end %>
      </div>
    <% end %>
    <!-- End SEARCH FORM -->
  </div>

  <!-- SEARCH STATUS message (in JavaScript, ./search.js.erb) -->
  <div id="status_bar">
  </div>
  <!-- SEARCH RESULTS (rendered in JavaScript, html in ./_search.html.erb) -->
    <% if @courses && @courses.size > 0 %>
      <script>
	$('#maillink_outer a').click();
      </script>
    <% end %>
  <div id="results">
  </div>
