<% provide(:title, "Admin Page") %>

<h1>WATCH YOUR STEP, THESE LINKS DO BIG THINGS</h1>
<div id="settings">
  <%= link_to "Edit Global Settings", change_settings_path, remote: true %>
  <div id="settings_form_div">
  </div>
</div>

<div id="reports">
  <%= link_to "Manage Reports", reports_path(nil, nil, nil), remote: true %>
  <div id="report_index">
  </div>
</div>

<div id="admin_motd">
  <%= link_to "Set Message of the Day", edit_motd_settings_path %>
</div>

<div id="sessions">
  <%= link_to "Expire all non-admin login sessions", expire_sessions_path, :data => { :confirm => "are you sure?" } %>
</div>
<br>
<div id="analytics">
  <h2>Site Analytics</h2>
  <div id="analytics_new_users">
    <h3>New Users</h3>
    <%= line_chart charts_new_users_path %>
  </div>
  <div id="analytics_site_visits">
    <h3>Visits</h3>
    <%= line_chart charts_site_visits_path %>
  </div>
  <div id="analytics_searches_by_dept">
    <h3>Searches by department</h3>
    <%= pie_chart charts_searches_dept_path, legend: "right", library: { "animation.animateRotate": "true" } %>
  </div>
  <div id="analytics_searches_over_time">
    <h3>Searches by volume</h3>
    <%= line_chart charts_searches_volume_path %>
  </div>
</div>
