<% provide(:title, "Admin Page") %>

<h1>WATCH YOUR STEP, THESE LINKS DO BIG THINGS</h1>
<div id="settings">
  <%= link_to "Edit Global Settings", change_settings_path, remote: true %>
  <div id="settings_form_div">
  </div>
</div>

<div id="reports">
  <%= link_to "Manage Reports", reports_path(nil, nil, nil), remote: true %>
  <div id="report_index">
  </div>
</div>

<div id="admin_motd">
  <%= link_to "Set Message of the Day", edit_motd_settings_path %>
</div>

<div id="sessions">
  <%= link_to "Expire all non-admin login sessions", expire_sessions_path, :data => { :confirm => "are you sure?" } %>
</div>
<br>
<div id="analytics">
  <h2>Site Analytics</h2>
  <div id="analytics_new_users">
    <h3>New Users</h3>
    <%= line_chart User.group_by_day(:created_at, range: 1.months.ago..Time.now).count %>
  </div>
  <div id="analytics_site_visits">
    <h3>Visits</h3>
    <%= line_chart Ahoy::Visit.group_by_day(:started_at, range: 1.months.ago..Time.now).count %>
  </div>
  <div id="analytics_searches_by_dept">
    <h3>Searches by department</h3>
    <%= pie_chart Ahoy::Event.where(name: "Course search").group("JSON_UNQUOTE(properties -> '$.dept_long')").count %>
  </div>
  <div id="analytics_searches_over_time">
    <h3>Searches by volume</h3>
    <%= line_chart Ahoy::Event.where(name: "Course search").group_by_day(:time, range: 1.months.ago..Time.now).count %>
  </div>  
</div>
