<% if current_user.status == 'active' %>
  <% if !@comments.nil? %>

    <div id=report_dialog>
    </div>

    <!-- Iterates through each comment on the object, and displays -->
    <% @comments.each do |c| %>

      <!-- Unique ID div of comment -->
      <div <%= "id=comment#{c.id} class=comment_area" %>>


	<!-- Displays the comment header bar
	Contains handle, and edit link when applicable -->
	<span class="handle">
	  <%= link_to c.handle, show_handle_path(c.handle) %>
	  <!-- Uses a helper method to convert the time to EST -->
	  <span class="posted_at">
	    posted on <%= translate_time(c.created_at) %>
	  </span>

	  <!--If current user is an admin, show
	  hide, remove, and edit links -->
	  <% if current_user.admin? %>

	    <span class="edit_comment_link">
	      <!-- hide/unhide link -->
	      <% if c.status == "hidden" %>
		<%= link_to "unhide", hide_remove_comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id, status: 'hidden'), method: 'put', remote: true %>
	      <% else %>
		<%= link_to "hide", hide_remove_comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id, status: 'hidden'), method: 'put', remote: true %>
	      <% end %>
	      <!-- remove link -->
	      <%= link_to "remove", hide_remove_comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id, status: 'removed'), method: 'put', remote: true, data: {confirm: "Comment will no longer display on oprestissimo.com. Are you sure you want to remove the comment?"} %>
	      <!-- edit link -->
	      <%= link_to "edit", edit_comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id), remote: true %>
	    </span>

	    <!-- If current user is the commenter,
	    show edit link -->
	  <% elsif current_handle && current_handle.username == c.handle && !current_handle.is_mute %>

	    <%= link_to "edit", edit_comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id), remote: true %>
	  <% end %>

	</span> <!-- End HANDLE span, end of comment title -->

	<!-- Comment content -->
	<span class="body">
	  <!-- Check hidden status, and display as appropriate -->
	  <% if c.status == "hidden" %>
	    <p class="hidden">This comment has been hidden by a site moderator. <span <%= "id=#{c.id}_link class=comm_display_link" %>>Click</span> to show content.</p>
	    <p <%= "id=#{c.id}_body style=display:none" %>><%= c.body %></p>
	  <% else %>
	    <!-- Display edit status: if there is a previous, comment has
	    been edited. -->
	    <% if c.prev != nil %>
	      <p class="edited_comment">This comment has been edited. <%= link_to "Click here", comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id), remote: true %> to see the original comment.</p>
	    <% end %>

	    <!-- Content -->
	    <p class="comment_text"><%= c.body %></p>
	  <% end %>
	</span>

	<!-- The voting area -->
	<div class="vote_div">
	  <!-- Reply link, at left bottom -->
	  <% unless c.handle == current_handle.username %>
	    <span class="reply_link">
	      <% if current_user.role == "Student" && c.status != "hidden" && !current_handle.is_mute %>
		<%= link_to "reply", reply_form_comment_path(c.commentable_type.underscore, c.commentable_id.to_s, c.id), remote: true %> | 
	      <% end %>
	      <!-- Report link, after reply, at left bottom -->
	      <%= link_to "report abuse", new_report_path(c.class.to_s.underscore, c.id, current_user.id), remote:true %>
	    </span>
	  <% end %>

	  <div class="upvote_div">

	    <% if current_user.role == "Student" && !current_handle.is_mute && c.handle != current_handle.username %>
	      <!-- Check if current user has voted on this comment -->
	      <% if current_handle.voted_on? c %>
		<!-- If they voted up, ... -->
		<% if current_handle.voted_up_on? c %>
		  <!-- Display Greyed out arrow -->
		  <%= link_to "", vote_path(current_handle.id, c.id, 0), remote: true, method: 'delete', id: "greytri-up" %>

		<% else %>
		  <!-- Otherwise, display Green arrow -->
		  <%= link_to "", vote_path(current_handle.id, c.id, 0), remote: true, method: 'delete', id: "greentri" %>
		<% end %>

	      <% else %>
		<!-- If they have not yet voted, show green arrow -->
		<%= link_to "", votes_path(current_handle.id, c.id, value: "up"), remote: true, method: 'post', id: "greentri" %>
	      <% end %>
	    <% end %>

	    <!-- Show number of positive votes -->
	    <p class="up_text"><%= c.get_likes.size %></p>
	  </div>

	  <div class="downvote_div">
	    <% if current_user.role == "Student" && !current_handle.is_mute && c.handle != current_handle.username %>
	      <!-- Check if current user has voted on this comment -->
	      <% if current_handle.voted_on? c %>
		<% if current_handle.voted_down_on? c %>
		  <!-- If they voted down, show greyed out down arrow -->
		  <%= link_to "", vote_path(current_handle.id, c.id, 0), remote: true, method: 'delete', id: "greytri-down" %>

		<% else %>
		  <!-- Otherwise, show Red arrow -->
		  <%= link_to "", vote_path(current_handle.id, c.id, 0), remote: true, method: 'delete', id: "redtri" %>
		<% end %>

	      <% else %>
		<!-- If they haven't voted, show red arrow -->
		<%= link_to "", votes_path(current_handle.id, c.id, value: "down"), remote: true, method: 'post', id: "redtri" %>
	      <% end %>
	    <% end %>

	    <!-- Show number of negative votes -->
	    <p class="down_text"><%= c.get_dislikes.size %></p>
	  </div>
	</div>
      </div>

      <!-- REPLIES -->
      <div  <%= "id=#{c.id}_edit_area" %>>
      </div>
      <% if c.has_children? %>
	<% c.children.each do |r| %>
	  <!-- Prevents previous versions of comments from being displayed -->
	  <% if !r.old %>
	    <% if r.status != "removed" %>
	      <%= render partial: 'comments/show_reply', locals: {r: r} %>
	    <% end %>
	  <% end %>
	<% end %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <span>Please activate your account or contact the site administrators to see comments.</span>
<% end %>
