<!-- Unique ID div of comment -->
<div <%= "id=comment#{r.id} class=reply" %>>
	<!-- Displays the comment header bar
	Contains handle, and edit link when applicable -->
	<span class="reply_handle">
		<%= link_to r.handle, show_handle_path(r.handle) %>
		<span class="posted_at">
			posted on <%= translate_time(r.created_at) %>
		</span>

		<!--If current user is an admin, show
		hide, remove, and edit links -->
		<% if current_user.admin? %>

			<span class="edit_comment_link">
				<!-- hide/unhide link -->
				<% if r.status == "hidden" %>
					<%= link_to "unhide", hide_remove_comment_path(r.commentable_type.underscore, r.commentable_id.to_s, r.id, status: 'hidden'), method: 'put', remote: true %>
				<% else %>
					<%= link_to "hide", hide_remove_comment_path(r.commentable_type.underscore, r.commentable_id.to_s, r.id, status: 'hidden'), method: 'put', remote: true %>
				<% end %>
				<!-- remove link -->
				<%= link_to "remove", hide_remove_comment_path(r.commentable_type.underscore, r.commentable_id.to_s, r.id, status: 'removed'), method: 'put', remote: true, data: {confirm: "Comment will no longer display on oprestissimo.com. Are you sure you want to remove the comment?"}  %>
				<!-- edit link -->
				<% unless r.old %>
				<%= link_to "edit", edit_comment_path(r.commentable_type.underscore, r.commentable_id.to_s, r.id), remote: true %>
			<% end %>
			</span>

			<!-- If current user is the commenter,
			show edit link -->
		<% elsif current_handle.username == r.handle && !current_handle.is_mute %>

			<%= link_to "edit", edit_comment_path(r.commentable_type.underscore, r.commentable_id.to_s, r.id), remote: true %>
		<% end %>

	</span>

	<!-- Comment content -->
	<span class="reply_body">
		<!-- Check hidden status, and display as appropriate -->
		<% if r.status == "hidden" %>
			<p class="hidden">This comment has been hidden by a site moderator. <span <%= "id=#{r.id}_link class=comm_display_link" %>>Click</span> to show content.</p>
			<p <%= "id=#{r.id}_body style=display:none" %>><%= r.body %></p>
		<% else %>
			<!-- Display edit status: if there is a previous, comment has
			been edited. -->
			<% if r.prev != nil %>
				<p class="edited_comment">This comment has been edited. <%= link_to "Click here", comment_path(r.commentable_type.underscore, r.commentable_id.to_s, r.id), remote: true %> to see the original comment.</p>
			<% end %>

			<!-- Content -->
			<p><%= r.body %></p>
		<% end %>

		<!-- The voting area -->
		<div class="reply_vote_div">
			<!-- Report link, after reply, at left bottom -->
			<% unless r.handle == current_handle.username %>
				<%= link_to "report abuse", new_report_path(r.class.to_s.underscore, r.id, current_user.id), remote:true, class: "reply_link" %>
			<% end %>
			<div class="upvote_div">
				<% if current_user.role == "Student" && !current_handle.is_mute && r.handle != current_handle.username %>
					<% unless r.old %>
						<!-- Check if current user has voted on this comment -->
						<% if current_handle.voted_on? r %>
							<!-- If they voted up, ... -->
							<% if current_handle.voted_up_on? r %>
								<!-- Display Greyed out arrow -->
								<%= link_to "", vote_path(current_handle.id, r.id, 0), remote: true, method: 'delete', id: "greytri-up" %>

							<% else %>
								<!-- Otherwise, display Green arrow -->
								<%= link_to "", vote_path(current_handle.id, r.id, 0), remote: true, method: 'delete', id: "greentri" %>
							<% end %>

						<% else %>
							<!-- If they have not yet voted, show green arrow -->
							<%= link_to "", votes_path(current_handle.id, r.id, value: "up"), remote: true, method: 'post', id: "greentri" %>
						<% end %>
					<% end %>
				<% end %>

				<!-- Show number of positive votes -->
				<p class="up_text"><%= r.likes.size %></p>
			</div>

			<div class="downvote_div">
				<% if current_user.role == "Student" && !current_handle.is_mute && r.handle != current_handle.username %>
					<% unless r.old %>
						<!-- Check if current user has voted on this comment -->
						<% if current_handle.voted_on? r %>
							<% if current_handle.voted_down_on? r %>
								<!-- If they voted down, show greyed out down arrow -->
								<%= link_to "", vote_path(current_handle.id, r.id, 0), remote: true, method: 'delete', id: "greytri-down" %>

							<% else %>
								<!-- Otherwise, show Red arrow -->
								<%= link_to "", vote_path(current_handle.id, r.id, 0), remote: true, method: 'delete', id: "redtri" %>
							<% end %>

						<% else %>
							<!-- If they haven't voted, show red arrow -->
							<%= link_to "", votes_path(current_handle.id, r.id, value: "down"), remote: true, method: 'post', id: "redtri" %>
						<% end %>
					<% end %>
				<% end %>

				<!-- Show number of negative votes -->
				<p class="down_text"><%= r.dislikes.size %></p>
			</div>
		</div>

	</span>
</div>
