
<!--
    Sign up form
    uses form_for to construct a user and sends to users#create
    takes in email (only oberlin flast) and password + confirmation
    -->

<h1> Sign Up </h1>
<div class="sign_form">
  <%= form_for(@user, url: create_user_path) do |f| %>

  <span class="su_label">
    <%= f.label :email, "ObieID" %>
  </span>
  <div class="su_textfield">
    <% if @obie_id %>
      <%= f.text_field :email, value: @obie_id, class: "default_inputfield" %>
    <% else %>
      <%= f.text_field :email, class: "default_inputfield" %>
    <% end %>
  </div>

  <span class="su_label">
    <%= f.label :password , "New Password" %>
  </span>
  <div class="su_textfield">
    <%= f.password_field :password, class: "default_inputfield" %>
  </div>

  <span class="su_label">
    <%= f.label :password_confirmation, "Confirm Password" %>
  </span>
  <div class="su_textfield">
    <%= f.password_field :password_confirmation, class: "default_inputfield" %>
  </div>

  <div class="signin_submit">
    <%= f.submit "Create my account" %>
  </div>
  <% end %>
</div>
