<!--
This is the settings page
It contains two forms:
the first edits the handlename
the second edits the user info
the edit action passes a hash containing the user and their handle
-->

<% provide(:title, "Edit User") %>
<% @user = @vals[:user] %>
<% @handle = @vals[:handle] %>
<% hasnoprefs = @user.privacy_prefs.nil? %>
<h1>Update your profile</h1>


<div id="handle_form_outer">
  <!-- The Handle update form -->
  <%= form_for(@handle, url: update_handle_path(@handle.id)) do |f| %>
    <%= render 'shared/error_messages' %>
    <div id="handle_form_inner"
      <span class="su_label">
	<%= f.label :username, "Commenter Name" %>
      </span>
      <div class="su_textfield">
	<%= f.text_field :username, class: "default_inputfield" %>
      </div>
      <%= f.submit "Update Commenter Name" %>
    </div>
  <% end %>
</div>

<div class="sign_form" id="usr_update_form">

  <!-- The User update form -->
    <hr width="100%">
  <%= form_for(@user, url: update_path(@user.id)) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="su_textfield">
      <span class="su_label">
	<div class="checkbox">
	  <span class="su_label_header">Hide on Profile?</span>
	</div>
	<%= f.label :nickname, "Nickname" %>
      </span>
    </div>
    <% if !in_mobile_view? %>
      <div class = "su_textfield">
	<div class = "checkbox">
	<% else %>
	  <div data-role="fieldcontain" class="field_group">
	    <fieldset data-role="controlgroup" data-type="horizontal">
	    <% end %>
	    <!-- check privacy preferences to decide whether box should already be checked -->
	    <% if !hasnoprefs && @user.privacy_prefs.include?("nonickname") %>
	      <%= check_box_tag "nickname", 1, true %>
	    <% else %>
	      <%= check_box_tag "nickname" %>
	    <% end %>
	    <%= label_tag 'nickname', 'Hide' %>
	    <% if !in_mobile_view? %>
	    </div>
	    <%= f.text_field :nickname, class: "default_inputfield" %>
	  </div>
	<% else %>
	  <%= f.text_field :nickname, class: "settings_inputfield" %>
	</fieldset>
      </div>
    <% end %>

    <span class="su_label">
      <%= f.label :gender %>
    </span>
    <% if !in_mobile_view? %>
      <div class = "su_textfield">
	<div class="checkbox">
	<% else %>
	  <div data-role="fieldcontain" class="field_group">
	    <fieldset data-role="controlgroup" data-type="horizontal">
	    <% end %>
	    <!-- check privacy preferences to decide whether box should already be checked -->
	    <% if !hasnoprefs && @user.privacy_prefs.include?("nogender") %>
	      <%= check_box_tag "gender", 1, true %>
	    <% else %>
	      <%= check_box_tag "gender" %>
	    <% end %>
	    <%= label_tag 'gender', 'Hide' %>
	    <% if !in_mobile_view? %>
	    </div>
	    <%= f.text_field :gender, class: "default_inputfield" %>
	  </div>
	<% else %>
	  <%= f.text_field :gender, class: "settings_inputfield" %>
	</fieldset>
      </div>
    <% end %>

    <span class="su_label">
      <%= f.label :year %>
    </span>
    <% if !in_mobile_view? %>
      <div class = "su_textfield">
	<div class="checkbox">
	<% else %>
	  <div data-role="fieldcontain" class="field_group">
	    <fieldset data-role="controlgroup" data-type="horizontal">
	    <% end %>

	    <!-- check privacy preferences to decide whether box should already be checked -->
	    <% if !hasnoprefs && @user.privacy_prefs.include?("noyear") %>
	      <%= check_box_tag "year", 1, true %>
	    <% else %>
	      <%= check_box_tag "year" %>
	    <% end %>
	    <%= label_tag 'year', 'Hide' %>
	    <% if !in_mobile_view? %>
	    </div>
	    <%= f.text_field :year, class: "default_inputfield" %>
	  </div>
	<% else %>
	  <%= f.text_field :year, class: "settings_inputfield" %>
	</fieldset>
      </div>
    <% end %>

    <span class="su_label">
      <%= f.label :notes, "Profile Info" %>
    </span>
    <% if !in_mobile_view? %>
      <div class="su_textfield">
	<div class="checkbox">
	<% else %>
	  <div data-role="fieldcontain" class="field_group">
	    <fieldset data-role="controlgroup" data-type="horizontal">
	    <% end %> 
	    <!-- check privacy preferences to decide whether box should already be checked -->
	    <% if !hasnoprefs && @user.privacy_prefs.include?("noinfo") %>
	      <%= check_box_tag "info", 1, true %>
	    <% else %>
	      <%= check_box_tag "info" %>
	    <% end %>
	    <%= label_tag 'info', "Hide" %>
	    <% if !in_mobile_view? %>
	    </div>
	    <%= f.text_area :notes, class: "default_inputfield"%>
	  </div>
	<% else %>
	  <%= f.text_area :notes, class: "settings_inputfield", id: "settings_info" %>
	</fieldset>
      </div>
    <% end %>

    <hr width="100%">
    <span class="su_label">
      <%= f.label :password, "New Password" %>
    </span>
    <div class = "su_textfield">
      <%= f.password_field :password, class: "default_inputfield" %>
    </div>
    <span class="su_label">
      <%= f.label :password_confirmation, "Confirm New Password" %>
    </span>
    <div class="su_textfield">
      <%= f.password_field :password_confirmation, class: "default_inputfield" %>
    </div>

    <hr width="100%">
    <div class="su_textfield">
      <span class="su_label">
	<!-- the user needs to input their old password to change settings -->
	<%= f.label :old_password, "Please enter your current password" %>
      </span>
    </div>
    <div class="su_textfield">
      <%= f.password_field :old_password, class: "default_inputfield" %>
    </div>
    <%= f.submit "Save Changes" %>
  <% end %>
</div>

<div id="rem_account_link">
  <%= link_to "Delete My Account", confirm_destroy_path(@user.id) %>
</div>
