<!--
    Form to reset the password for a user
    The user inputs their new password and a confirmation
-->
<% provide(:title, "Reset Password") %>

<h1>Create New Password</h1>
<p>
Enter a new password, at least 6 characters long. Don't forget this one!
</p>
<!-- Reset form:
			contains 2 fields: new pass, confirm pass -->
<div>
	<%= form_for( @user, url: reset_password_path ) do |f| %>
		<%= render 'shared/error_messages' %>

		<div class="forgot_pass">
			<span class="fr_label">
				<%= f.label :password, "New Password" %>
			</span>
			<%= f.password_field :password, class: "default_inputfield" %>
		</div>

		<div class="forgot_pass">
			<span class="fr_label">
				<%= f.label :password_confirmation, "Confirm New Password" %>
			</span>
			<%= f.password_field :password_confirmation, class: "default_inputfield" %>
		</div>

		<div class="submit">
			<%= f.submit "Reset Password" %>
		</div>
	<% end %>
</div>
