<!-- Display of ATTRIBUTES
			- input: checkbox
			- fields: ns, ss, hu
			- displayed as a table
			-->
<% if in_mobile_view? %>
	<div data-role="fieldcontain" class="field_group">
		<fieldset data-role="controlgroup" data-type="horizontal">
			<legend>Attributes:</legend>
			<%= check_box_tag :ns, params[:ns]%>
			<%= label_tag 'ns', 'NS' %>
			<%= check_box_tag :ss, params[:ss]%>
			<%= label_tag 'ss', 'SS' %>
			<%= check_box_tag :hu, params[:hu]%>
			<%= label_tag 'hu', 'HU' %>
		</fieldset>
	</div>
<% else %>
    <div class="form" id="attributes_div", title='Search by division. If more than one division is selected, then only courses that are in all selected divisions will be shown.'>
      <%= check_box_tag :ns, params[:ns], false, class: "search_tag" %>
      <label for="ns" id="ns_checkbox">Natural Science</label>
      <%= check_box_tag :ss, params[:ss], false, class: "search_tag" %>
      <label for="ss" id="ss_checkbox">Social Science</label>
      <%= check_box_tag :hu, params[:hu], false, class: "search_tag" %>
      <label for="hu" id="hu_checkbox">Humanities</label>
    </div>
<% end %>
