<!-- Display of REMOTE
			- input: checkbox
			- fields: ip, hy, fr
			- displayed as a table
			-->
<% if in_mobile_view? %>
	<div data-role="fieldcontain" class="field_group">
		<fieldset data-role="controlgroup" data-type="horizontal">
			<legend>Remote:</legend>
			<%= check_box_tag :ip, params[:ip]%>
			<%= label_tag 'ip', 'IP' %>
			<%= check_box_tag :hy, params[:hy]%>
			<%= label_tag 'hy', 'HY' %>
			<%= check_box_tag :fr, params[:fr]%>
			<%= label_tag 'fr', 'FR' %>
		</fieldset>
	</div>
<% else %>
    <div class="form" id="remote_div", title='Search by remote status. If more than one status is selected, then only courses that are in all selected divisions will be shown.'>
      <%= check_box_tag :ip, params[:ip], false, class: "search_tag" %>
      <label for="ip" id="ip_checkbox">In Person</label>
      <%= check_box_tag :hy, params[:hy], false, class: "search_tag" %>
      <label for="hy" id="hy_checkbox">Hybrid</label>
      <%= check_box_tag :fr, params[:fr], false, class: "search_tag" %>
      <label for="fr" id="fr_checkbox">Full Remote</label>
    </div>
<% end %>
