<!-- display of SEMESTER
- input: drop down menu
- field: semester
-->
<% if in_mobile_view? %>
	<div data-role="fieldcontain" class="field_group">
		<fieldset data-role="controlgroup" data-type="horizontal">
			<legend>Semesters:</legend>
			<%= check_box_tag :fa, params[:fa]%>
			<%= label_tag 'fa', 'FA' %>
			<%= check_box_tag :sp, params[:sp]%>
			<%= label_tag 'sp', 'SP' %>
			<%= check_box_tag :su, params[:su]%>
			<%= label_tag 'su', 'SU' %>
		</fieldset>
	</div>
<% else %>
    <div class="form" id="semesters_div", title='Search by semester. If more than one semester is selected, then courses that are in all selected semesters will be shown.'>
      <%= check_box_tag :fa, params[:fa], false, class: "search_tag" %>
      <label for="fa" id="fa_checkbox">Fall</label>
      <%= check_box_tag :sp, params[:sp], false, class: "search_tag" %>
      <label for="sp" id="sp_checkbox">Spring</label>
      <%= check_box_tag :su, params[:su], false, class: "search_tag" %>
      <label for="su" id="su_checkbox">Summer</label>
    </div>
<% end %>
