<!-- display of DAYS OF THE WEEK
- input: checkboxes
- fields: monday, tuesday, wednesday, thursday, friday, saturday, sunday
- displayed as a table
-->

<% if in_mobile_view? %>
  <div data-role="fieldcontain" class="field_group"> 
    <fieldset data-role="controlgroup" data-type="horizontal" class="mobile_fieldset">
      <legend>Days of the Week:</legend>
      <div class="field_box">
	<%= check_box_tag :monday, params[:monday]%>
	<%= label_tag 'monday', 'M' %>
	<%= check_box_tag :tuesday, params[:tuesday]%>
	<%= label_tag 'tuesday', 'T' %>
	<%= check_box_tag :wednesday, params[:wednesday] %>
	<%= label_tag 'wednesday', 'W' %>
	<%= check_box_tag :thursday, params[:thursday]%>
	<%= label_tag 'thursday','R' %>
	<%= check_box_tag :friday, params[:friday]%>
	<%= label_tag 'friday', 'F' %>
	<%= check_box_tag :saturday, params[:monday] %>
	<%= label_tag 'saturday', 'S' %>
	<%= check_box_tag :sunday, params[:sunday]%>
	<%= label_tag 'sunday', 'U' %>
      </div>
    </fieldset>
  </div>

<% else %>
  <div class="form" id="days_div">
    <span class="label search_label">Days of the Week:</span>
    <table id="dotw_table">
      <tr >
	<td>
	  M
	</td>
	<td>
	  T
	</td>
	<td>
	  W
	</td>
	<td>
	  R
	</td>
	<td>
	  F
	</td>
	<td>
	  S
	</td>
	<td>
	  U
	</td>
      </tr>
      <tr>
	<td>
	  <%= check_box_tag :monday, params[:monday], false, class: "search_tag" %>
	</td>
	<td>
	  <%= check_box_tag :tuesday, params[:tuesday], false, class: "search_tag" %>
	</td>
	<td>
	  <%= check_box_tag :wednesday, params[:wednesday], false, class: "search_tag" %>
	</td>
	<td>
	  <%= check_box_tag :thursday, params[:thursday], false, class: "search_tag" %>
	</td>
	<td>
	  <%= check_box_tag :friday, params[:friday], false, class: "search_tag" %>
	</td>
	<td>
	  <%= check_box_tag :saturday, params[:monday], false, class: "search_tag" %>
	</td>
	<td>
	  <%= check_box_tag :sunday, params[:sunday], false, class: "search_tag" %>
	</td>
      </tr>
    </table>
  </div>
<% end %>
