<!-- display of MODULE
- input: checkboxes
- fields: mod1, mod2, full, special
- displayed in standard checkbox format
-->
<%if in_mobile_view? %>
  <div data-role="fieldcontain" class="field_group">
    <fieldset data-role="controlgroup" data-type="horizontal">
      <legend>Module:</legend>
      <%= check_box_tag :mod1, params[:mod1]%>
      <%= label_tag 'mod1', '1st' %>
      <%= check_box_tag :mod2, params[:mod2]%>
      <%= label_tag 'mod2', '2nd' %>
      <%= check_box_tag :full, params[:full]%>
      <%= label_tag 'full'%>
      <%= check_box_tag :special, params[:special]%>
      <%= label_tag 'special' %>
    </fieldset>
  </div>
<% else %>
  <div class="form" id="modules_div">
    <span class="label search_label">Module:</span>
    <table id="modules_table">
      <tr class="modules_tr">
	<td class="modules_td">
	  1st
	</td>
	<td class="modules_td">
	  2nd
	</td>
	<td class="modules_td">
	  Full
	</td>
	<td class="modules_td">
	  Special
	</td>
      </tr>
      <tr class="modules_tr">
	<td class="modules_td">
	  <%= check_box_tag :mod1, params[:mod1], false, class: "search_tag" %>
	</td>
	<td class="modules_td">
	  <%= check_box_tag :mod2, params[:mod2], false, class: "search_tag" %>
	</td>
	<td class="modules_td">
	  <%= check_box_tag :full, params[:full], false, class: "search_tag" %>
	</td>
	<td class="modules_td">
	  <%= check_box_tag :special, params[:special], false, class: "search_tag" %>
	</td>
      </tr>
    </table>
  </div>
<% end %>
