<div>
	<!-- Comment header bar:
				contains handle and remove link, when applicable -->
	<span class="handle">
		<%= @comment.handle %>

		<span class="edit_comment_link">
			<!-- remove link if the comment is less than 5 minutes old
						and created by this handle -->
			<% if current_handle.username == @comment.handle && (@comment.created_at + 5.minutes).future? %>
				<%= link_to "Remove Comment", comment_path(@comment.commentable_type.underscore, @comment.commentable_id.to_s, @comment.id), remote: true, method: 'delete' %>
			<% end %>
		</span>

	</span>

	<!-- Edit comment form -->
	<%= form_for :comment, url: comment_path(@comment.commentable_type.underscore, @comment.commentable_id.to_s, @comment.id), remote: true, method: 'put' do |f| %>
		<!-- Comment Label -->
		<%= f.label :body, "Comment", id: "comment_label" %>
		<!-- Comment Body -->
		<%= f.text_area :body, value: "#{@comment.body}", class: "inputfield_alt1", id: "comment_textarea"  %>

		<!-- Submit Button -->
		<div id="comment_submit_box">
			<%= f.submit "Submit Changes", id: "submit_comment" %>
		</div>

	<% end %>
</div>
