<!-- Hub for all of our help pages -->

<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
Please click a link to learn more about Prestissimo!
</p>
<body>
  <ul class = "help_links">
    <li class = "h_link">
    <%= link_to help_basics_path do %>
      <strong>Basic Search Help</strong></br>
      <span>How to use Prestissimo's basic course search</span>
    <% end %>
    </li>
    <li>
    <%= link_to help_advanced_path do %>
      <strong>Advanced Search Help</strong>
      <br />How to use Prestissimo's advanced course search features
    <% end %>
    </li>
    <li>
    <%= link_to help_search_path do %>
      <strong>Search Results Help</strong>
      <br />How to interpret course search results
    <% end %>
    </li>
    <li>
    <%= link_to help_cart_path do %>
      <strong>The Course Cart</strong>
      <br />Create a schedule on the fly
    <% end %>
    </li>
    <li>
    <%= link_to help_accounts_path do %>
      <strong>User Accounts</strong>
      <br />Account features and settings
    <% end %>
    </li>
    <li>
    <%= link_to help_comments_path do %>
      <strong>Commenting</strong>
      <br />Leave your mark on Prestissimo
    <% end %>
    </li>
    <li>
    <%= link_to help_hubpages_path do %>
      <strong>Professor, Class, and Department Pages</strong>
      <br />Expand your Prestissimo experience
    <% end %>
    </li>
    <li>
    <%= link_to guidelines_path do %>
      <strong>Community Guidelines</strong>
      <br />Behavior guidelines for our users
    <% end %>
    </li>
    <li>
    <%= link_to help_phone_path do %>
      <strong>Mobile Theme Help</strong>
      <br />Using Prestissimo on Your Phone
    <% end %>
    </li>
    <li class = "questions">
    <%= link_to help_questions_path do %>
      <strong>Questions?</strong></br>
      Need more help? Reporting a bug? Have a critique? Contact us here!
    <% end %>
    </li>
  </ul>
  For any unanswered questions, please contact us at <a href="mailto:info@oprestissimo.com">info@oprestissimo.com</a>.
</body>
