<h2>The following settings have been made:</h2>
<div>
	<span>Message of the Day: </span>
	<p><%= @settings[:motd] %></p>
</div>
<div>
	<span>High Comment Score: </span>
	<p><%= @settings[:high_comment_score] %></p>
</div>
<div>
	<span>Low Comment Score: </span>
	<p><%= @settings[:low_comment_score] %></p>
</div>
<div>
	<span>Comment Report Threshold: </span>
	<p><%= @settings[:comment_report_threshold] %></p>
</div>
<div>
	<span>Handle Report Threshold: </span>
	<p><%= @settings[:handle_report_threshold] %></p>
</div>
<div>
	<span>User Report Threshold: </span>
	<p><%= @settings[:user_report_threshold] %></p>
</div>
<div>
	<span>Handle Abuse Threshold: </span>
	<p><%= @settings[:handle_abuse_threshold] %></p>
</div>
<div>
	<span>Admins: </span>
	<p><%= @settings[:admins] %></p>
</div>
