<% @professor = @vals[:professor] %>
<% @comments = @vals[:comments] %>
<% provide(:title, @professor.fname + " " + @professor.lname) %>

<!-- PROFESSOR PROFILE PAGE -->

<div id="profile">
  <!-- header contains professor's full name -->
  <h1><%= @professor.fname  + " " + @professor.lname %></h1>

  <h2 class="prof_h2" id="contact">Contact:</h2>
  <p><%= @professor.email %></p>
  <p><%= @professor.nickname %></p>
  <!-- Listing of courses this professor teaches -->
  <h2 class="prof_h2">Classes:</h2>
  <div id="prof_classes">
    <table>
      <% @professor.courses.sort.sort_by{ |course| course.cnum}.each do |c| %>
	<% unless c.status == "cancelled" %>
	  <tr>
	    <td class='dept'><%= link_to c.dept, department_path(c.hubcourse.department_id) %> <%= c.cnum.to_s %></td>
	  <% if c.hubcourse %>
	    <td class='name'><%= link_to c.short_title, hubcourse_path(c.hubcourse.id) %></td>
	  <% else %>
	    <td class='name'><%= c.short_title %></td>
	  <% end %>
	  <td class='sem'><%= translate_semester(c.semester) %></td>
	  <% if current_cart && !in_mobile_view? %>
	    <td class="cartlink_prof"><%= link_to "Add to Cart", add_cart_path(current_cart.cartid,c.semcrn), method: 'put', remote: true %></td>
	  <% end %>
	</tr>
	<% end %>
      <% end %>
    </table>
  </div>

  <!-- All comments on this professor -->
  <div id="comment_section">
    <!-- existing comments -->
    <div id="comments">
      <%= render partial: 'comments/index', locals: {commentable: @professor} %>
    </div>
    <!-- comment submission form -->
    <% if current_user.role == "Student" %>
      <div id="comment_form">
	<%= render partial: 'comments/form', locals: {commentable: @professor} %>
      </div>
    <% end %>
  </div>
</div>
