<!DOCTYPE html>
<link href='https://fonts.googleapis.com/css?family=Cantata+One|Buenard:400,700|Lusitana:400,700|Lobster&subset=latin' rel='stylesheet' type='text/css'>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="course_list">
      <% if current_cart %>
	<%= render partial: 'carts/show', locals: {courses: get_courses} %>
      <% end %>
    </div>
    <% if !is_mobile_device? %>
      <% session[:mobile_view] = false %>
    <% end %>
    <div id="content">
      <%= render 'layouts/header' %>
      <% flash.each do |key, value| %>
	<div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
