
<!--This File loads the search form, displays results -->

<%= provide(:title, 'Search') %>

<% #load_cart indicates that we do not need to redirect to the home page when a user selects the 'load' button on their cart as we are already here.%>
<% @load_cart = true %>

<!-- DISCLAIMER MESSAGE -->
<% # usually include disclaimer_cookie_expired? but doesn't work %>
<% if cookies[:disclaimer].nil? %>
  <div id="disclaimer_container">   
    <div id="hide_corner_box">
      <p id="dtitle">NOTICE</p>
      <%= link_to "X", hide_disclaimer_sessions_path, remote: true, id: "xclose" %>
      <p>Prestissimo is not affiliated with Oberlin College in any official
      capacity and cannot guarantee the accuracy of any of its information.
      </p>
      <p>
      Prestissimo's data is updated four times a day and contains information
      similar to that in the 
      <a href="http://catalog.oberlin.edu/">course catalog</a> and
      <a href="http://new.oberlin.edu/office/registrar/class-schedules/">schedule of classes</a>. 
      Therefore, information that changes more frequently, such as enrollment numbers, might not be accurate. 
      Use <a href="http://presto.cc.oberlin.edu/">PRESTO</a> to get the most up to date information.</p>
      <p id="dclose">
      <%= link_to "[click here to close]", hide_disclaimer_sessions_path, remote: true %>
      </p>
    </div>
  </div>
<% end %>

<!-- MESSAGE OF THE DAY -->
<% if cookies[:motd].nil? || motd_cookie_expired? %>
  <div id="motd_container">
    <div id="motd_bar">
      <span>Message of the Day</span>
      <%= link_to "[close]", hide_motd_sessions_path, remote: true %>
    </div>
    <div class="motd">
      <%= motd.value.html_safe %>
      <p><br>
      <% if signed_in? && faculty_user?(current_user) %>
	      <strong>Professors make Oberlin great! Thank you for choosing to teach here. If you have any questions or concerns, or just want to say hi, let us know above in Help -> Questions!</strong>
      <% elsif signed_in? %>
	      <strong>Welcome to Oprestissimo! If you have any questions or concerns, or just want to say hi, let us know above in Help -> Questions!</strong>
      <% else %>
	      <strong>Welcome to Oprestissimo! Sign in above, or just start finding classes!</strong>
      <% end %>    
      </p>
      <p><br>
      <strong>Tell your friends we're back!</strong>
      </p>
    </div>
  </div>
<% end %>

<!-- COURSE SEARCH FORM (fields listed below) -->
<%= form_tag course_search_path, :method=> 'get', id: "sf", :remote=> true, "name" => "sf", class: "search_form" do %>

  <div id= "search_form_upper_left" >
    <%= render 'courses/form_partials/dept' %>
    <%= render 'courses/form_partials/crn' %>
  </div>
  <div id= "search_form_upper_right" >
    <%= render 'courses/form_partials/name' %>
    <%= render 'courses/form_partials/professor' %>
    <%= render 'courses/form_partials/semester' %>
    <!-- Keyword search of course descriptions, titles, crosslistings, and prerequisites -->
    <%= render 'courses/form_partials/keyword' %>
    <%= render 'courses/form_partials/credits' %>
    <%= render 'courses/form_partials/time' %>
    <%= render 'courses/form_partials/level' %>
    <%= render 'courses/form_partials/days' %>
    <!-- course size -->
    <%= render 'courses/form_partials/size' %>
    <!-- course enrollment -->
    <%= render 'courses/form_partials/enrollment' %>
  </div>

  <div id="search_form_lower_left" >
    <!-- NS, SS, HU -->
    <%= render 'courses/form_partials/attributes' %>
    <!-- proficiencies - CD, QFR, WP -->
    <%= render 'courses/form_partials/proficiencies' %>
    <!-- conservatory attributes -->
    <%= render 'courses/form_partials/con_attributes' %>
  </div>
  <div id="search_form_lower_right" >
    <!-- full course, half course, cocurricular -->
    <%= render 'courses/form_partials/full_course' %>
    <!-- 1st module, 2nd module, full, special -->
    <%= render 'courses/form_partials/modules' %>
  </div>

  <div class="submit">
    <% if current_cart %>
      <div style="display: none;">
        <%= text_field_tag :cart_id, params[:cart_id], value: current_cart.cartid %>
      </div>
    <% end %>
    <%= submit_tag "search", :class => "search_button", :id => "course_search", :name => nil %>
    <% if in_mobile_view? %>
      <input type="reset" value="reset" id="course_reset" class="mobile_reset">
    <% else %>
      <button type="button" class="search_button" id="course_reset">reset</button>
    <% end %>
  </div>
<% end %>
<!-- End SEARCH FORM -->
<!-- </div> -->


<!-- SEARCH STATUS message (in JavaScript, ./search.js.erb) -->
<div id="status_bar">
</div>
<div id="results">
</div>
