<div>
  Hi!
</div>

<p>
<% if @sender %>
  <%= @sender.fname+" "+@sender.lname %> has sent you their OPrestissimo course cart.
<% else %>
  Here's your cart...
<% end %>
</p>

<table>
  <tr>
    <th>CRN</th>
    <th>Dept: Num</th>
    <th>Name</th>
    <th>Professor(s)</th>
    <th></th>
  </tr>
  <% @cart.each do |c| %>
    <tr>
      <td>
	<%= c.crn %>
      </td>
      <td>
	<a href=<%= "https://oprestissimo.com/departments/#{c.dept}" %>><%= c.dept %></a>: <%= c.cnum %>
      </td>
      <td>
	<a href=<%= "https://oprestissimo.com/classes/#{c.dept}-#{c.cnum}" %>><%= c.title %></a>
      </td>
      <td>
	<% c.professors.each do |p| %>
	<a href=<%= "https://oprestissimo.com/professors/#{p.fname}_#{p.lname}" %>><%= "#{p.fname} #{p.lname}" %></a>
	  <% unless p == c.professors.last %>
	    , 
	  <% end %>
	<% end %>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
      </td>
      <td>
	<%= Course.text_semester(c.semester) %>
      </td>
      <td>
	<%= "\t#{c.building}: #{c.room}" %> 
      </td>
      <td colspan="2">
	<% unless c.days.blank?%>
	  <%= c.days %>
	<% end %>
	<% unless c.start_time.blank? || c.end_time.blank? %>
	  <%= c.start_time.strftime("%I:%M %p") %> - <%= c.end_time.strftime("%I:%M %p") %>
	<% end %>
      </td>
    </tr>
  <% end %>
</table>
