<h1>Upload syllabus for <%= @course.title %></h1>
<div class="upload_syllabus">
  Enter a URL to the syllabus for <%= @course.title %>: <br /> <br/>
    <%= form_for(@syllabus, url: create_syllabus_path(@syllabus.id)) do |f| %>
      <%= f.label "URL: ", class: "sylsubmit_label" %>
      <%= f.text_field :path, class: "inputfield_alt2" %>
      <%= f.submit "Submit", class: "submit_button" %>
      <% end %>
</div>

<div class="upload_syllabus">
<!--Or, select a PDF to upload to the server.
[Browse Button] [Upload Button] 
-->
</div>
