<table id="headers">
	<th class="date">Creation Date</th>
	<th class="lock">Locked By</th>
	<th class="type">Type</th>
	<th class="text">Preview</th>
	<th class="begun">Begun?</th>
	<th class="edit"></th>
</table>
<div id="results_scroller">
	<table>
		<% if @unresolved.nil? || @unresolved.size == 0 %>
			<tr><td colspan="6">All reports are resolved</td></tr>
		<% else %>
			<% @unresolved.each do |report| %>
				<tr class="unres">
					<td class="date"><%= report.created_at %></td>
					<td class="lock">
						<% if report.locked_by.nil? %>
							Unlocked
						<% else %>
							<%= report.locked_by %>
						<% end %>
					</td>
					<td class="type"><%= report.reportable_type %></td>
					<td class="text"><%= report.response[0..20] + '...' %></td>
					<td class="begun"><%= !report.response.blank? %></td> 
					<td class="edit"><%= link_to "Respond", edit_report_path(report.reportable_type.to_s.underscore,report.reportable_id,report.user_id,report.id), remote: true %></td>
				</tr>
				<tr>
					<td colspan="6" <%= "id=report#{report.id}_edit_area" %>>
					</td>
				</tr>
			<% end %>
		<% end %>
		<% if @resolved.nil? || @resolved.size == 0 %>
			<tr><td colspan="6">No resolved reports</td></tr>
		<% else %>
			<% @resolved.each do |report| %>
				<tr class="resolv">
					<td class="date"><%= report.created_at %></td>
					<td class="lock">
						<% if report.locked_by.nil? %>
							Unlocked
						<% else %>
							<%= report.locked_by %>
						<% end %>
					</td>
					<td class="type"><%= report.reportable_type %></td>
					<td class="text"><%= report.response[0..20] + '...' %></td>
					<td class="begun"><%= !report.response.blank? %></td> 
					<td class="edit"><%= link_to "Respond", edit_report_path(report.reportable_type.to_s.underscore,report.reportable_id,report.user_id,report.id), remote: true %></td>
				</tr>
				<tr>
					<td colspan="6" <%= "id=report#{report.id}_edit_area" %>>
					</td>
				</tr>
			<% end %>
		<% end %>
	</table>
</div>
