<h2>THE VALUES IN THE FIELDS REFLECT HOW THEY APPEAR IN THE DB</h2>
<p>Admin names must match their user accounts exactly: 'firstname lastname'</p>

<%= form_tag update_all_settings_path, method: 'put', remote: true do %> 
	<div id="high_score">
		<div id="high_score_label">Comment High Score:</div>
		<%= text_field_tag :high_comment_score, params[:high_comment_score], value: @high_comment_score, class: "default_inputfield" %>
	</div>

	<div id="low_score">
		<div id="low_score_label">Comment Low Score:</div>
		<%= text_field_tag :low_comment_score, params[:low_comment_score], value: @low_comment_score, class: "default_inputfield" %>
	</div>

	<div id="comment_report_threshold">
		<div id="comment_report_threshold_label">Comment Report Threshold:</div>
		<%= text_field_tag :comment_report_threshold, params[:comment_report_threshold], value: @comment_report_threshold, class: "default_inputfield" %>
	</div>

	<div id="handle_report_threshold">
		<div id="handle_report_threshold_label">Handle Report Threshold:</div>
		<%= text_field_tag :handle_report_threshold, params[:handle_report_threshold], value: @handle_report_threshold, class: "default_inputfield" %>
	</div>

	<div id="user_report_threshold">
		<div id="user_report_threshold_label">User Report Threshold:</div>
		<%= text_field_tag :user_report_threshold, params[:user_report_threshold], value: @user_report_threshold, class: "default_inputfield" %>
	</div>

	<div id="handle_abuse_threshold">
		<div id="handle_abuse_threshold_label">Handle Report Max (Comments and Handle):</div>
		<%= text_field_tag :handle_abuse_threshold, params[:handle_abuse_threshold], value: @handle_abuse_threshold, class: "default_inputfield" %>
	</div>

	<div id="add_admins">
		<div id="admins_label">Add Admin:</div>
		<%= text_field_tag :add_admin, params[:add_admin], class: "default_inputfield", id: "add_admins_field" %>
	</div>

	<div id="remove_admins">
		<div id="admins_label">Remove Admin:</div>
		<%= text_field_tag :rem_admin, params[:rem_admin], class: "default_inputfield", id: "rem_admins_field" %>
	</div>

	<div id="update_submit">
		<%= submit_tag "Update", name: nil, data: { confirm: "Overwrite Settings?"} %>
		<input type="reset" value="Reset">
	</div>

<% end %>
