<!--
the hubcourse search page
-->
<h2 class="hub_h2">Search Classes</h2>

<!-- Search form -->
<%= form_tag search_hubcourses_path, method: 'get', id: "sf", remote: true, class: 'search_form' do %>
	<div id="dept_div" class="hub_div">
		<div class="hub_label">Department: </div>
		<% query = "<option></option>" %>
		<% Department.all.each do |d| %>
			<% query << "<option>"+d.dept+"</option>" %>
		<% end %>

		<%=select_tag :dept, query.html_safe,	class: "search_tag", id: "dept_drop" %>
	</div>

	<div class="hub_div" id="cnum_div">
		<div class="hub_label">Course Level:</div>
		<% if in_mobile_view? %>
			<div data-role="fieldcontain" class="field_group">
				<fieldset data-role="controlgroup" data-type="horizontal">
				<% end %>
				<%= select_tag :comparator,
					'<option></option>
		<option value=">=">At or Above</option>
		<option value="<=">At or Below</option>
		<option value="=">At</option>'.html_safe,
		class: "search_tag",
			id: "courselevel_drop"
		%>
		<%= select_tag :course_level,
			'<option></option>
		<option>000 level</option>
		<option>100 level</option>
		<option>200 level</option>
		<option>300 level</option>
		<option>400 level</option>
		<option>500 level</option>
		<option>600 level</option>
		<option>700 level</option>
		<option>800 level</option>
		<option>900 level</option>'.html_safe,
		class: "search_tag",
			id: "coursenumber_drop"
		%>
	</div>
	<% if in_mobile_view? %>
	</fieldset>
</div>
	<% end %>
	<div class="hub_search_submit">
	  <%= submit_tag "Search", name: nil, class: "hub_search_button" %>
		<% if in_mobile_view? %>
			<input type="reset" value="Reset", class="hub_search_button mobile_reset">
		<% else %>
			<input type="reset" value="Reset", class="hub_search_button">
		<% end %>
	</div>
<% end %>
