
<header>
  <% if !current_user.nil? %>
    <%= link_to("#{image_pack_tag("LIGHTBULB.png", alt: "Prestissimo is faster than Presto", class: "logo_image", width: 140, height: 140)}#{content_tag :div, "PRESTISSIMO", class: "logo_text"}".html_safe, root_path, class: "logo", id: "logo") %>
  <% else %>
    <%= link_to("#{image_pack_tag("LIGHTBULB.png", alt: "Prestissimo is faster than Presto", class: "logo_image", width: 140, height: 140)}#{content_tag :div, "PRESTISSIMO", class: "logo_text"}".html_safe, signin_path, class: "logo", id: "logo") %>
      <% #link_to(image_pack_tag("prestissimo_lightsoff.png", alt: "Log in!", class: "logo", width: 800, height: 140, id: "logo"), signin_path ) %>
  <% end %>
    <div id="links">
      <ul>
        <li><%= link_to "About", about_path %></li>
        <li class="dd_menus"><%= link_to "Help", help_path %>
          <ul>
            <li><%= link_to "Overview", help_path %></li>
            <li><%= link_to "Search Help", help_basics_path %></li>
            <li><%= link_to "Search Results", help_search_path %></li>
            <% if signed_in? && faculty_user?(current_user) %>
              <li><%= link_to "Course Editing - NEW!", help_editcourse_path %></li>
            <% end %>
            <li><%= link_to "Course Cart", help_cart_path %></li>
            <li><%= link_to "User Accounts", help_accounts_path %></li>
            <li><%= link_to "Professor Pages", help_professors_path %></li>
            <li><%= link_to "Commenting", help_comments_path %></li>
            <li><%= link_to "Class and Dept. Pages", help_hubpages_path %></li>
            <li><%= link_to "Community Guidelines", guidelines_path %></li>
            <li><%= link_to "Mobile Theme", help_phone_path %></li>
            <li><%= link_to "Useful Links", links_path %></li>
            <li><%= link_to "Questions?", help_questions_path %></li>
          </ul>
        </li>
        <% if signed_in? %>
          <li class="dd_menus"><%= link_to "Account", user_path(current_user.email.split("@")[0]) %>
            <ul>
              <!-- link_to "My Classes", my_class_path(current_user)  -->
              <li><%= link_to "Profile", user_path(current_user.email.split("@")[0]) %></li>
              <% if current_user && faculty_user?(current_user) %>
                <li><%= link_to "Edit Profile", edit_professor_path(:fname => current_user.fname, :lname => current_user.lname) %></li>
                <li><%= link_to "My Courses", professor_courses_path(:fname => current_user.fname, :lname => current_user.lname) %></li>
              <% else %>
                <li><%= link_to "Settings", settings_path(current_user.email.split("@")[0]) %></li>
              <% end %>
              <li><%= link_to "Sign Out", signout_path, method: "delete" %></li>
              <% if current_user && current_user.admin? %>
                <li><%= link_to "Admin", admin_page_path %></li>
              <% end %>
            </ul>
          </li>
          <li><%= link_to "People", users_path %></li>
          <li><%= link_to "Departments", hubcourses_path %></li>
          <li><%= link_to "Schedule", schedule_path(current_user.email.split("@")[0]) %></li>
        <% else %>
          <li><%= link_to "Sign In", signin_path %></li>
        <% end %>
        <li><%= link_to "Home", root_path %></li>
      </ul>
    </div>
    <h1 id="print_title">Prestissimo</h1>
    </header>
